@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PixelFont';
    src: url('/fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelFont2';
    src: url('/fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: url("/images/backgrounds/Orange-coin.png");
    background-repeat: repeat;
    background-size: auto;

    font-family: 'PixelFont2', sans-serif;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, transparent 70%, rgba(0, 0, 0, 0.37) 100%);
    pointer-events: none;
}

/* dashboard page */

.dashboard-button {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 400px;
    min-height: 100px;
    transition: transform 0.3s ease;
}

.dashboard-button:hover {
    transform: translateY(5px);
}

#weather-button {
    background-image: url('/images/buttons/Weather-orange-300.png');
}
#news-button {
    background-image: url('/images/buttons/News-blue-300.png');
}
#events-button {
    background-image: url('/images/buttons/Events-purple-300.png');
}
#movies-button {
    background-image: url('/images/buttons/Movies-red-300.png');
}

/* weather page */

#weather-title {
    background-image: url('/images/buttons/Weather-orange-300.png');
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 400px;
    min-height: 100px;
}

#error-msg {
    font-family: 'PixelFont2', sans-serif;
    color: white;
    font-size: 40px
}