{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col items-center justify-center min-h-screen">
        <!-- Logo -->
        <div class="mb-8">
            <img src="{{ asset('images/logos/Daily-panel-orange-500.png') }}" alt="Logo">
        </div>

        <div class="grid grid-cols-2 gap-4">
            <a href="{{ path('weather-today') }}">
                <button id="weather-button" class="dashboard-button"></button>
            </a>

            <button id="movies-button" class="dashboard-button"></button>
            <button id="news-button" class="dashboard-button"></button>
            <button id="events-button" class="dashboard-button"></button>
        </div>
    </div>


{% endblock %}
